.assetView {
  letter-spacing: -.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 45vh;
  background-color: #fff;
  border-radius: 2vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
  opacity: 0;
  animation: fadeIn 0.5s forwards 0.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.assetViewDark {
  background-color: #191a1a;
  color: #fff;
}

.closeButton {
  height: 5vh;
  border: none;
  cursor: pointer;
  border-radius: 1.5vh;
  font-size: 1.25vh;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
  background: #CCC;
}

.collectButton {
  height: 5vh;
  border: none;
  cursor: pointer;
  border-radius: 1.5vh;
  font-size: 1.25vh;
  font-weight: bold;
  color: #FFF;
  background: #000;
}

.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.loaderOverlayDark {
  background-color: #e6e5e5;
  color: #fff;
  filter: invert(1);
}

.textContainer {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.5vh;
  font-weight: bold;
}

.assetTitle {
  font-weight: bold;
  font-size: 2.5vh;
  margin: 0;
}

